body{
    background-color: black;
}

.gallery{
    display: flex;
    gap: 15px;
}

.gallery img{
    height: 200PX;
   
}

.gallery img:hover{
    height: 250px;
   
}


label{
    color: #fcf3f3;
}