

* {   /*estilo general */
box-sizing: border-box; /*márgenes y el relleno de los elementos se incluyan en el cálculo del tamaño total de los elementos ( el width y height) */
margin: 0; /*Elimina los márgenes y el relleno predeterminados de todos los elementos*/
padding: 0;
}

.header {
width:100%; /*ancho del contenedor*/
}

.header-nav { 
display: flex; /* Usa el modelo de diseño flexbox para organizar los elementos dentro de .header-nav.*/
background-color: #b92121;
align-items: center; /*alinea verticalmente los elementos al centro del contenedor*/
justify-content: space-between; /*Distribuye los elementos de forma que haya espacio entre ellos, alineándolos al principio y al final del contenedor.*/
padding: 10px 20px; /*Añade espacio interior de 10px arriba y abajo, y 20px a los lados.*/
flex-wrap:nonwrap; /*permite que los elementos se ajusten en múltiples líneas si el espacio disponible es insuficiente*/
}

.header-ul {
  padding: 10px 60px;
list-style-type: none; 
display: flex;
flex-wrap: wrap;
align-items: center;
width: 100%;
}

.list-item {
margin-right: 10px;
}

.link {
display: block;
color: rgb(253, 240, 255);
text-align: center;
padding: 14px 16px;
text-decoration: none;
transition: background-color 0.3s;
text-shadow: 2px 2px 2px #110f11;
}

.link:hover {
background-color:rgba(62, 7, 59, 0.286);
border-radius: 4px;
}

form {
    position: relative;
    transition: all 0.3s ease;
    width: 50px;
    height: 50px;
    background: rgb(243, 237, 237);
    border-radius: 25px;
    border: 4px solid rgb(242, 181, 181);
    overflow: hidden;
    margin-top: 15px;
  }
  form:hover {
    width: 350px;
    cursor: pointer;
  }


input[type="search"] {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 42.5px;
line-height: 30px;
outline: none;
border: none;
display: none;
font-size: 1em;
border-radius: 20px;
padding: 0 20px;
}

form:hover input[type="search"] {
display: block;
}

.search-btn {
background: none;
border: none;
position: absolute;
top: 0;
right: 0;
width: 42.5px;
height: 42.5px;
padding: 0;
cursor: pointer;
border-radius: 50%;
transition: background-color 1s;
}

.search-btn:hover {
background-color: rgba(246, 53, 40, 0.899);
}

.search-btn img {
width: 100%;
height: 100%;
padding: 2px;
border-radius: 50%;
box-sizing: border-box;
transition: all 1s;
}

.search-item {
margin-left: auto;
}

 h1{
  padding: 10px 20px;
  color: #efe0eb;
  text-shadow: 3px 3px 5px #110f11;
 }

.logo{
  text-decoration: none;
  color: bisque;
  flex-wrap: wrap;
}

body{
 background-color: #110f11;
}


.d-flex{
  display: flex;
  align-items:center;
  justify-content: center;
  opacity: 30%;
}

img{
  height: 900px;
  width: 4000px;
  padding: 0px;
  color: #efe0eb;
}


.imagen img {
  display: block; /* Esto asegura que no tenga espacios extra alrededor */
  width: 100px; /* Ajusta el ancho de la imagen */
  height: 100px; /* Mantén la proporción de la imagen */
  margin: -40px; /* Centra la imagen dentro de su contenedor */
  }

 .button{
  text-decoration: none;
  color: #efe0eb;
  padding: 10px 20px;
 }


 